<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand='block' (click)="connectToDevice()" shape='round'>Start</ion-button>
  <ion-button expand='block' (click)="disconnectToDevice()" shape='round'>End</ion-button>
  <br>
  <ion-button expand='block' (click)="readDeviceValue()" shape='round'>readDeviceValue()</ion-button>
  <ion-button expand='block' (click)="writeDeviceValue()" shape='round'>writeDeviceValue()</ion-button>
  {{batteryLevel}}
</ion-content>
